body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align:center;
}

header {
    background-color: #5da3fc;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #5da3fc;
    position: fixed;
    width: 100%;
    bottom: 0;
}